<div class="login-container">
  <!-- Header -->
  <div class="login-header">
    <h1 class="brand-title">MoneyMind</h1>
    <p class="subtitle">Inicia sesión en tu cuenta</p>
  </div>

  <!-- Formulario -->
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="ejemplo@correo.com" required />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        El correo es obligatorio
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Ingresa un correo válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Tu contraseña" required />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>

    <button mat-flat-button class="login-btn" type="submit" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </button>

    <div class="links-section">
      <!--a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a-->
      <p class="register-text">
        ¿No tienes cuenta?
        <a routerLink="/auth/register" class="register-link">Regístrate</a>
      </p>
    </div>

  </form>
</div>
