<!-- Desktop Toolbar -->
<div class="desktop-toolbar-container">
  <mat-toolbar color="primary" class="desktop-toolbar">
    <span class="brand-name">MoneyMind</span>
    <span class="spacer"></span>

    <button mat-button routerLink="/home" routerLinkActive="active-desktop">Inicio</button>
    <button mat-button routerLink="/scan" routerLinkActive="active-desktop" [routerLinkActiveOptions]="{ exact: false }">Escanear</button>
    <button mat-button routerLink="/dashboard" routerLinkActive="active-desktop">Análisis</button>
    <button mat-button routerLink="/profile" routerLinkActive="active-desktop">Perfil</button>
  </mat-toolbar>
</div>


<!-- Mobile Bottom Navigation -->
<mat-toolbar class="mobile-toolbar">
  <button mat-button class="nav-item" routerLink="/home" routerLinkActive="active-mobile" #homeLink="routerLinkActive" [disableRipple]="true">
    <span [ngClass]="homeLink.isActive ? 'material-icons' : 'material-symbols-outlined'">home</span>
    <span class="nav-label">Inicio</span>
  </button>

  <button mat-button class="nav-item" routerLink="/scan" routerLinkActive="active-mobile" #scanLink="routerLinkActive" [disableRipple]="true" [routerLinkActiveOptions]="{ exact: false }">
    <span [ngClass]="scanLink.isActive ? 'material-icons' : 'material-symbols-outlined'">photo_camera</span>
    <span class="nav-label">Escanear</span>
  </button>

  <button mat-button class="nav-item" routerLink="/dashboard" routerLinkActive="active-mobile" #dashLink="routerLinkActive" [disableRipple]="true">
    <span [ngClass]="dashLink.isActive ? 'material-icons' : 'material-symbols-outlined'">insert_chart</span>
    <span class="nav-label">Análisis</span>
  </button>

  <button mat-button class="nav-item" routerLink="/profile" routerLinkActive="active-mobile" #profileLink="routerLinkActive" [disableRipple]="true">
    <span [ngClass]="profileLink.isActive ? 'material-icons' : 'material-symbols-outlined'">person</span>
    <span class="nav-label">Perfil</span>
  </button>
</mat-toolbar>
