/* Desktop Toolbar */
.desktop-toolbar-container{
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px !important;
  background-color: #f9f9ff;
}

.desktop-toolbar {
  max-width: 80%;
  display: flex;
  z-index: 1000;
  background-color: transparent;
}

.brand-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  color: #1033d3 !important;
}

.desktop-toolbar button {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 10px;
}

.spacer {
  flex: 1 1 auto;
}

/* Estado inactivo: texto blanco, sin fondo */
.desktop-toolbar button {
  font-family: 'Poppins', sans-serif;
  color: #202020 !important;
  background-color: transparent !important;
}

/* Desktop Active State */
.desktop-toolbar .active-desktop {
  background-color: transparent !important;
  color: #1033d3 !important;
  font-weight: 600;
}
